/* BODY CSS */

body {
    margin: 0;
}

/* HEADER CSS */

header {
    position: fixed;
    width: 100%;
    margin: 0 0 30px;
    color: white;
    background: white;
    border-bottom: 2px solid #cccccc;
    display: flex;
    justify-content: space-between;
}

header, h1 {
    width: 200px;
    height: 100%;
    margin: 0;
    font-size: 30px;
    font-weight: 700;
    line-height: 90;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background: #4aaaaC;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    padding: 0 15px;
    line-height: 18px;
    color: #999;
    text-decoration: none;
    border-left: 1px solid #efefef;
}

nav a:first-child {
    border-left: 0 none;
}

/* MAIN CONTENT */

.parent-content {
    padding-top: 140px;
    padding-bottom: 40;
    display: flex;
    justify-content: center;
    background: url("assets/css/so-white.png");
    min-height: 750px;
}

.child-content {
    max-width: 960px;
    width: 100%;
    background: white;
    border: 1px solid #dddddd;
    margin-bottom: 30px
}

#about-me {
    background-color: white;
    color: #4aaaaC;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    line-height: 49px;
    padding-bottom: 20px;
    margin: 30px;
    border-bottom: 1px solid gray;
}

.img-container {
    display: flex;
    justify-content: center;
}

#about-img {
    margin: 30px 0 30px 0;
    padding: 15px;
    height: 200px;
    width: 225px;
}

p {
    color: #777777;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 20px 10px 20px;
}

footer {
    bottom: 0;
    background-color: #666666;
    border-top: 8px solid #4aaaaC;
    height: 50px;
    width: 100%;
}

/* FOOTER */

footer p {
    color: white;
    text-align: center;
}

/* PORTFOLIO CSS */

.project-parent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.project {
    position: relative;
    height: 200px;
    width: 250px;
    margin: 15px 50px 15px 50px;
    border: 1px solid black;
}

.project img {
    width: 100%;
    height: 200px;
}

h3 {
    background-color: #4aaaaC;
    color: white;
    font-size: 22px;
    line-height: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
    padding: 0;
    text-align: center;
}

/* CONTACT CSS */

form {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

